@charset "utf-8";

//
// ボタン用スタイル
//
// クラス名：.button-xxx

// --------------------------------------------------
// ○○○
// --------------------------------------------------

.see-more{
  min-width:380px;
  height: 85px;
  padding-left:10px;
  padding-right:10px;
  text-decoration:none;
  color:#fff;
  display:inline-block;
  background-color: #333333;
  border: 2px solid #fff;
  box-sizing:border-box;
  text-align:center;
  font-size:18px;
  line-height:80px;
  letter-spacing:1px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position:relative;
  overflow:hidden;
  z-index:1;
  cursor:pointer;

  &:before{
    content:"";
    display:block;
    position:absolute;
    background-color:#080808;
    width: 380px;
    height: 85px;
    z-index: 0;
    transform:skew(30deg);
    left:-405px;
    transition: .3s ease-in;
  }

  &:after{
    content:"See More";
    position: absolute;
		left: 50%;
		top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &:hover:before{
    left:-195px;
  }
}

.arrow{
    display: inline-block;
    position:absolute;
    content: "";
    width: 13px;
    height: 13px;
    color: #000;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: rotateZ(135deg);
    top: 33px;
    left: 330px;
}
.see-more:hover{

      .arrow{
       transition:.3s;
      left:340px;
    }
}
