@charset "utf-8";

//
// ... style
//
// class name：.xyz-xxx

// --------------------------------------------------
// block comment
// --------------------------------------------------

// single comment

.l-site-footer {
	font-size: .8em;
	padding-top:0px;
	border-top: 0;
	text-align: center;
	background:#222;
}
.footer__navigation{
	background-color: #f8f8f8;
}
.footer__link{
	position: relative;
	display: inline-block;
	font-size: 12px;

	a{
		text-decoration: none;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: .13em;
		display: inline-block;
		padding: 18px;
		@include transition(.3s);

		@media (min-width:$screen-md-min){
			&:hover{
				color:lighten(#222, 20%)!important;
			}
		}
	}
}
.footer__info{
	color: rgba(255,255,255,.8);
	background-color: #222;
	width:100%;
	text-align:center;
	padding: 50px 30px 10px;
	line-height:1.5em;
	font-size:12px;
	position:relative;

	// &:after{
	// 	content:"";
	// 	position:absolute;
	// 	bottom:0;
	// 	left:50%;
	// 	width:100px;
	// 	height:1px;
	// 	@include translate(-50%, -50%);
	// 	background:#464646;
	// }

	@media (min-width:$screen-md-min){
		font-size:14px;

		// &:after{
		// 	width:200px;
		// }
	}
}
.footer__name{
	font-weight:600;
}
.footer__add{
	display:inline-block;
}
.footer__map-link{
	display:inline-block;
	color: rgba(255,255,255,0.8);
	text-decoration:underline!important;

	&:hover{
		color:#fff;
		@include transition(.3s);
	}
}
.footer__social{
	display:flex;
	align-items:center;
	justify-content:center;
}
.footer__media{
	padding:10px;
}
.footer__icon{
	color:#fff;
	@include transition(.2s);

	&:hover{
		color:rgba(255,255,255,0.6);
	}
}
.footer__disclaimer{
	text-align:center;
	font-family: $font-serif;
	font-size:10px;
	margin: 20px 30px 0;
	line-height: 1.2em;
	letter-spacing:.02em;
	color: rgba(255,255,255,0.5);
}
.footer__copyright{
	display:inline-block;
	font-size:10px;
	line-height:1.5;
	margin-top:35px;
	background-color:#000;
	color:#fff;
	width:100%;
	padding: 20px 15px;
}
