@charset "utf-8";

//
// ... style
//
// class name：.xyz-xxx

// --------------------------------------------------
// block comment
// --------------------------------------------------

// single comment

.detail-heading{
	padding-bottom: 30px;
	position: relative;
	margin-bottom: 40px;
	margin-top: 0;
	letter-spacing: .12em;
	font-size: 16px;
	line-height: 26px;
	font-weight:600;
	text-transform: uppercase;
	color: #222;
	padding-right:20px;

	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 30px;
		height: 2px;
		background-color: #000;
	}
}

