@charset "utf-8";

$kv_pc_height:890px;
$kv_sp_height:330px;

//  ---------------------
//  kv video
//  ---------------------
.mbYTP_wrapper{
	display: none;
	@media(min-width:$screen-md-min){
		display: block;
	}
}


//  ---------------------
//  kv page top
//  ---------------------

.kv{
	position:relative;
	width:100%;


}
.kv-pattern{
	position: absolute;
	z-index: 20;

	width:100%;
	height: 100%;

	background: url(../images/share/bg_dot.png) repeat;


}
.kv-pc{
	position:relative;
	height: $kv_pc_height;

	display: none;
	@media(min-width:$screen-md-min){
		display: block;
	}
}
.kv-sp{
	position: relative;
	display: block;
	@media(min-width:$screen-md-min){
		display: none;
	}
	.kv-image{
		width: 100%;
		height: auto;
	}
}

//  ---------------------
//  kv all
//  ---------------------
.kv-all{
	width: 100%;
	/*height: 330px;*/
	overflow: hidden;
	@media(min-width:$screen-md-min){
		/*height: 890px;*/
	}
	.kv-image{
		width: 100%;
		height: auto;
	}
}

