.header__logo{
	float: left;
	position: relative;
   z-index: 999;
}
.header__logo-link{
	padding-top: 15px;
	padding-left: 20px;
	height: 80px;
	display: inline-block;

	@media (min-width:$screen-md-min){
		padding-top: 9px;
		padding-left: 30px;
	}

	img{
		width:140px;

		@media (min-width:$screen-md-min){
			width:170px;
		}
	}
}
