.recruit-top{
    position: relative;
    padding: 30px 15px;

    @media (min-width:$screen-md-min){
        padding: 92px 76px 100px;
    }
    > *{
        position: relative;
        z-index: 2;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -50%;
        bottom: 0;
        right: -50%;
        background: #333;
        @include transform(rotate(-9deg));
    }
    h2{
        width:256px;
        @media (min-width:$screen-md-min){
            width:838px;
        }
        svg{
            width:100%;
            height:120px;
            @media (min-width:$screen-md-min){
                width:838px;
                height:198px
            }
        }
    }
    .recruit-body {
        color: #fff;
        text-align: center;
        margin-top:20px;
        @media (min-width:$screen-md-min){
            margin-top:107px;
        }
        .text-lg{
            font-size: 17px;
            line-height: 1.294;
            @media (min-width:$screen-md-min){
                font-size: 34px;
            }
        }

        .text-small{
            font-size: 12px;
            margin-top:20px;
             line-height: 1.417;

            @media (min-width:$screen-md-min){
                font-size: 20px;
                 margin-top:30px;
            }
        }
    }
    /*draf*/
    .button{
        margin-top:30px;
        @media(min-width:$screen-md-min){
            margin-top:86px;
        }
    }
}
.recruit-bottom{
    margin-top: -8%;
    img{
        width: 100%;
    }
}

