<footer class="l-site-footer">

  <div class="footer__navigation">
    <ul class="footer__links">
      <li class="footer__link"><a href="/">Home</a></li>
      <li class="footer__link"><a href="/team/">Our Team</a></li>
      <li class="footer__link"><a href="/why-us/">Why Us</a></li>
      <li class="footer__link"><a href="/resources/">Resources</a></li>
      <li class="footer__link"><a href="/contact/">Contact Us</a></li>
    </ul>
  </div>

  <div class="footer__info">
    <h4 class="footer__name">Signature Wealth Management Group LLC</h4>
    <p>
      <span class="footer__add">3625 Cumberland Boulevard SE, Suite 230 //</span>
      <span class="footer__add">Atlanta, GA 30339 //</span>
      <span class="footer__add">Phone: 678-932-2500 //</span>
      <span class="footer__add">Fax: 678-401-7026 //</span>
      <a class="footer__map-link" href="https://goo.gl/maps/qzEjgvkr7kQ2" target="_blank">Map and Directions</a>
    </p>
  </div>
  <ul class="footer__social">
    <li class="footer__media"><a href="https://www.linkedin.com/company/signature-wealth-management-group/" target="_blank" class="footer__icon"><i class="fa fa-lg fa-linkedin" aria-hidden="true"></i></a></li>
    <li class="footer__media"><a href="https://www.facebook.com/Signature-Wealth-Management-124179828366814/" target="_blank" class="footer__icon"><i class="fa fa-lg fa-facebook" aria-hidden="true"></i></a></li>
    <li class="footer__media"><a href="https://twitter.com/SignatureWMG" target="_blank" class="footer__icon"><i class="fa fa-lg fa-twitter" aria-hidden="true" ></i></a></li>
  </ul>

  <p class="footer__disclaimer">
    Signature Wealth Management Group is a Registered Investment Adviser with the U.S. Securities and Exchange Commission located in Atlanta, Georgia. This website is only intended for clients and interested investors residing in states in which the Adviser is qualified to provide investment advisory services. Please contact Signature Wealth Management Group at 678-932-2500 to find out if the investment adviser is qualified to provide investment advisory services in the state where you reside. The Adviser does not attempt to furnish personalized investment advice or services through this website. Past performance is no guarantee of future results.  A copy of the Signature Wealth Management Group current disclosure statement (form ADV Part 1) containing the firm’s business operations, services, and fees, is available by accessing the SEC website at www.AdviserInfo.sec.gov.  Signature Wealth Management Group will provide form ADV Part 2A to interested parties upon request.
    <br><br>
    At certain places on our website we offer direct access or ‘links’ to other Internet websites. These sites contain information that has been created, published, maintained or otherwise posted by institutions or organizations independent of Signature Wealth Management Group. Signature Wealth Management Group does not endorse, approve, certify or control these websites and does not assume responsibility for the accuracy, completeness or timeliness of the information located there. Signature Wealth Management Group does not necessarily endorse or recommend any commercial product or service described at these websites.
  </p>

  <small class="footer__copyright">copyright © Signature Wealth Management Group 2017. All Rights Reserved.</small>
</footer>
