<footer class="l-site-footer">

  <div class="footer__navigation">
    <ul class="footer__links">
      <li class="footer__link"><a href="/">About Us</a></li>
      <li class="footer__link"><a href="/team/">Our Team</a></li>
      <li class="footer__link"><a href="/why-us/">Why Us</a></li>
      <li class="footer__link"><a href="/resources/">Resources</a></li>
      <li class="footer__link"><a href="/contact/">Contact Us</a></li>
    </ul>
  </div>

  <div class="footer__info">
    <h4 class="footer__name">Signature Wealth Management Group LLC</h4>
    <p>
      <span class="footer__add">3625 Cumberland Boulevard SE, Suite 230 //</span>
      <span class="footer__add">Atlanta, GA 30339 //</span>
      <span class="footer__add">Phone: 678-932-2500 //</span>
      <span class="footer__add">Fax: 678-401-7026 //</span>
      <a class="footer__map-link" href="https://goo.gl/maps/qzEjgvkr7kQ2" target="_blank">Map and Directions</a>
    </p>
  </div>

  <p class="footer__disclaimer">
    Raymond James' financial advisors may only conduct business with residents of the states and/or jurisdictions for which they are properly registered. Therefore, a response to a request for information may be delayed. Please note that not all of the investments and services mentioned are available in every state. Investors outside of the United States are subject to securities and tax regulations within their applicable jurisdictions that are not addressed on this site. Contact your local Raymond James office for information and availability. &copy;2017 Raymond James & Associates, Inc., member New York Stock Exchange / SIPC/ Privacy Policy
    Links are being provided for information purposes only. Raymond James is not affiliated with and does not endorse, authorize or sponsor any of the listed websites or their respective sponsors. Raymond James is not responsible for the content of any website or the collection or use of information regarding any website's users and/or members.
  </p>

  <small class="footer__copyright">copyright © Signature Wealth Management Group. All Rights Reserved.</small>
</footer>
