<div class="hero__wrap">
  <div class="hero__body">
    <div class="hero__body-items">
      <h2 class="hero__heading">A Personal Commitment<span>To Your Financial Future</span></h2>
      <a class="hero__btn" href="/team/">Learn More<span class="btn__arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.4 10.93"><defs><style>.cls-1,.cls-2{stroke:#fff;fill:#fff;stroke-miterlimit:10;}.cls-1{stroke-width:2px;}</style></defs><title>Arrow</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><line class="cls-1" y1="5.47" x2="17.67" y2="5.47"/><polygon class="cls-2" points="18.16 9.97 18.16 0.97 24.53 5.47 18.16 9.97"/></g></g></svg></span></a>
    </div>
  </div>
</div>
