---
fileName: "schwab"
title: "Schwab Login | Signature Wealth Management Group"
keywords: "Signature Wealth Management Group, Financial Advisors, Financial Planning, Mutual Funds, Retirement Plans, 401k, Affluent Families, Corporate Executives, Business Professionals, Southern Company Employees, Physicans, Medical Professionals"
description: "Signature Wealth Management Group - A Personal Commitment To Your Financial Future"
---
<main>
  <div class="wrap-content">
    <section class="l-login-overview">
      <div class="col-md-4">
        {{> heading heading="Important Notice"}}
      </div>
      <p class="login__text col-md-8">You are now leaving the Signature Wealth Management Group website and will be entering the Charles Schwab & Co., Inc. (“Schwab”) website.</p>
      <p class="login__text col-md-8">Schwab is a registered broker-dealer, and is not affiliated with Signature Wealth Management Group or any advisor(s) whose name(s) appear(s) on this website. Signature Wealth Management Group is independently owned and operated. [Schwab neither endorses nor recommends Signature Wealth Management Group, unless you have been referred to us through the Schwab Advisor Network®. (This bracketed language is for use by Schwab Advisor Network members only.)] Regardless of any referral or recommendation, Schwab does not endorse or recommend the investment strategy of any advisor. Schwab has agreements with Signature Wealth Management Group under which Schwab provides Signature Wealth Management Group with services related to your account. Schwab does not review the Signature Wealth Management Group website(s), and makes no representation regarding information contained in the Signature Wealth Management Group website, which should not be considered to be either a recommendation by Schwab or a solicitation of any offer to purchase or sell any securities</p>
    </section>

    <section class="l-login-links">
      <a class="login__back" href="/client-login/">Go Back</a>
      <a class="login__schwab" href="http://www.schwaballiance.com" target="_blank">Continue to Schwab Alliance</a>
    </section>
  </div>
</main>
