@charset "utf-8";

//
// ... style
//
// class name：.xyz-xxx

// --------------------------------------------------
// block comment
// --------------------------------------------------

// single comment
.is-contact{
	max-width:1600px;
	margin:0 auto;
}
.l-contact-intro{
	margin-top:70px;
	@include clearfix;
}
.contact-details{
	margin-top: 50px;
	text-align:center;
	line-height:1.45;

	@media (min-width:$screen-md-min){
		margin-top: 30px;
	}
}
.contact__heading{
	text-transform:uppercase;
	font-weight:600;
	margin-top: 30px;
	margin-bottom:5px;
   display: block;
}
a.contact__email, a.contact__map{
	text-decoration:underline;
	@include transition(.3s);

	@media (min-width:$screen-md-min){
		&:hover{
			color:lighten(#222, 30%);
		}
	}
}
.l-contact-form{
	margin-top:30px;
}
