@charset "utf-8";

//
// トップページ用スタイル
//

	// .is-home{

	// }
.l-what{
	margin-top:50px;
}
.l-how{
	margin-top:50px;
	@include clearfix;
}
.how__item{
	text-align:center;

	.icon{
		margin: 0 auto;
		width:30%;
	}
	.heading{
		padding: 20px 20px 0;
		font-size: 20px;
		font-weight: 600;
	}
	.tagline{
		margin-top: 10px;
		padding: 0 20px;
	}
}
.l-faq{
	margin-top:50px;
	@include clearfix;
}
.faq__item{
	@include clearfix;
}
