---
fileName: "clients"
hasGlobalNav: "yes"
title: "Southern Company Employees | Employees Saving Plans"
keywords: "wealth management services, employees saving plans, signature wealth management group, financial advisors, southern company employees"
description: "For over 20 years Signature Wealth Management Group has been guiding members of the Southern Company network to and through their successful retirement."
---
<main>

  <!--KEY VISUAL-->
  <section class="l-clients-kv">
    {{> hero-detail detail-page="Our Clients"}}
  </section>
  <!--END KEY VISUAL-->

  <div class="wrap-content">
    <section class="l-clients-intro">
      <div class="col-md-4">
        {{> heading heading="Southern Company Employees"}}
      </div>
      <p class="intro__text col-md-4">For over 20 years our practice has been guiding members of the Southern Company network to and through their successful retirement. We know you; we understand you; we ‘get’ you. So whether you are an executive in Pensacola, a plant technician in Roopville, or a line foreman in Rabun Gap, chances are we are already working with someone you know.</p>
      <p class="intro__text col-md-4">We are able to use our insight and experience with your Employee Savings Plan and other company benefits, along with our in-depth research of Southern Company stock, to help you make intelligent decisions that will balance risk while achieving results. If you would like to take advantage of our process that has already brought peace of mind to many of your peers, please contact us below.</p>

      <a class="intro__contact col-md-8 col-md-push-4" href="/contact/">
        <div class="contact__overlay"></div>
        <img class="contact__img" src="/common/images/pages/clients/southern-company.jpg" alt="Southern Company Employees">
        <span class="contact__btn">Contact Us Today<span class="btn__arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.4 10.93"><defs><style>.cls-1,.cls-2{stroke:#000;fill:#000;stroke-miterlimit:10;}.cls-1{stroke-width:2px;}</style></defs><title>Arrow</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><line class="cls-1" y1="5.47" x2="17.67" y2="5.47"/><polygon class="cls-2" points="18.16 9.97 18.16 0.97 24.53 5.47 18.16 9.97"/></g></g></svg></span></span>
      </a>
    </section>
  </div>

</main>
