<footer class="l-site-footer">

  <div class="footer-menu">
    <div class="footer-menu-content">

      <div class="footer-section footer-svg">
        <div class="company-logo"><img src="/common/images/share/footer_logo.png" alt="company logo"></div>

        <div class="facebook-logo">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
          <image id="icon_fb.svg" width="30" height="30" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCw8NFCDoO/SrAAAA9ElEQVQ4y+3RPU8CMRjA8f8dlzhcCCQwGUPAiRWucfYbMLjr7kCYGUhYbmLxE7A5uzKzloVPADGOJiTqLVTPwZ4DcvJQJhK6PG3aX56XetGQPgH7L0PsRWsnCmB8ZwqB70xBnPeNKc+sKRJyTVWOPxnwoD+yo3qiI8e3+nH7xe6eJ3lUknn8W25IiwCyjiV4ZmmFOef7lv1q49UmleDUxjOXgf2z8nt+wQDwZc8JS7u7oPCz8aI0BzdYAOg/F2pFybFsVc6oS8+XhwysLhnYiHcAda8TANWmC0BTgm9s7JEAUONu88lB/3zCR4SNszU+sSM3xN/FYi1D5d2o5gAAAABJRU5ErkJggg=="/>
          </svg>
        </div>
      </div>

      <div class="footer-section footer-list footer-news">
        <h3 class="heading">News</h3>
        <ul class="news">
          <li><a href="#">プレスリリース</a></li>
          <li><a href="#">お知らせ</a></li>
        </ul>
      </div>

      <div class="footer-section footer-list footer-service">
        <h3 class="heading">Service</h3>
        <ul class="service">
          <li><a href="#">インターネットサービス事業</a></li>
          <li><a href="#">次世代人材育成事業</a></li>
          <li><a href="#">戦略投資事業</a></li>
        </ul>
      </div>

      <div class="footer-section footer-list footer-company">
        <h3 class="heading">Company</h3>
        <ul class="company">
          <li><a href="#">代表メッセージ</a></li>
          <li><a href="#">ビジョン</a></li>
          <li><a href="#">会社概要</a></li>
          <li><a href="#">沿革</a></li>
          <li><a href="#">オフィス・アクセス</a></li>
        </ul>
      </div>

      <div class="footer-section footer-list footer-recruit">
        <h3 class="heading">Recruit</h3>
        <ul class="recruit">
          <li><a href="#">企業カルチャー</a></li>
          <li><a href="#">中途採用</a></li>
          <li><a href="#">新卒採用</a></li>
          <li><a href="#">アルバイト採用</a></li>
          <li><a href="#">待遇・制度</a></li>
          <li><a href="#">採用までの流れ</a></li>
          <li><a href="#">エントリーフォーム</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copywriter">
    <ul class="footer-info">
      <li><a href="#">お問い合わせ</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">推奨環境について</a></li>
    </ul>
    <small class="copywriter">copyright © RyukyuInteractive, Inc. All Rights Reserved.</small>
  </div>


</footer><!-- /.l-site-footer -->
