<div class="loading">
    <div class="loading__wrap">
        <div class="loading__circle--1 loading__circle"></div>
        <div class="loading__circle--2 loading__circle"></div>
        <div class="loading__circle--3 loading__circle"></div>
        <div class="loading__circle--4 loading__circle"></div>
        <div class="loading__circle--5 loading__circle"></div>
        <div class="loading__circle--6 loading__circle"></div>
        <div class="loading__circle--7 loading__circle"></div>
        <div class="loading__circle--8 loading__circle"></div>
        <div class="loading__circle--9 loading__circle"></div>
    </div>
</div>