
<ul class="slider">
	{{# slider.items }}
	<li class="slider-item">
		<div class="slider-container">
			<img src="{{ imgSrc }}" alt="{{imgAlt}}" width="662" height="495" />
			<span class="slide-description">
				{{{description}}}
			</span>
		</div>
	</li>
	{{/ slider.items }}
</ul>
	