.card{
	display:block;
	padding-top:8px;

	@media (min-width:$screen-sm-min){
		display:inline-block;
	}
	@media (min-width: $screen-lg-min){
		padding-top:8px;
		padding-bottom:8px;
	}

	&:first-child{
		padding-top:16px!important;
	}
	&:nth-child(2){
		padding-top:16px!important;
	}
	&:nth-child(7){
		padding-bottom:16px!important;
	}
	&:last-child{
		padding-bottom:16px!important;
	}
}
.card--full-width{
	width:100%;
	padding-bottom:8px;
}
.card--third-width{
	width:100%;
	padding:8px 0px 8px;

	@media (min-width:$screen-sm-min){
		width:50%;
		padding: 8px;

		&:first-child{
			padding-left:0;
		}

		&:nth-child(4){
			padding-left:0;
		}

		&:nth-child(5){
			padding-right:0;
		}
		&:nth-child(6){
			padding-left:0;
		}
		&:nth-child(7){
			padding-right:0;
		}
		&:nth-child(8){
			padding-left:0;
		}
	}

	@media (min-width: $screen-lg-min){
		width: 33.3333%;
		&:nth-child(5){
			padding-right:8px;
		}
		&:nth-child(6){
			padding-left:8px;
			padding-right:0!important;
		}
		&:nth-child(7){
			padding-left:0;
			padding-right:8px;
		}
		&:nth-child(8){
			padding-left:8px;
		}
	}
}
.card--two-thirds{
	width:100%;
	padding: 8px 0;

	@media (min-width:$screen-sm-min){
		width:50%;
		padding:8px 0 8px 8px;
	}

	@media (min-width: $screen-lg-min){
		width:66.666%;
	}
	&:nth-child(8){
		padding-left:0;
		width:100%;
		@media(min-width:$screen-sm-min){
			width:100%;
		}
		@media (min-width: $screen-lg-min){
			width:66.666%;
			padding-left:8px;
		}
	}
}

.card__image{
	position:relative;
	overflow:hidden;
	height:400px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;

	@media (min-width:$screen-xs-min){

		&:hover{
			.card__body{
				bottom:0px;
				transition: ease-in .3s;
			}
		}
	}
}
.card__image--sc{
	background-position:center;

	@media (min-width:$screen-lg-min){
		background-position:0px -395px;
	}
}
.card__image--none{
	background-color:#222;
}
.card__overlay{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.6));
}
.card__body{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	padding:30px;
	@media (min-width:$screen-sm-min){
		bottom:-76px;
	}
}
.card__body--dark{
	background-color:#222;
}
.card__title{
	font-size:20px;
	letter-spacing: 1px;
	line-height:1.5;
	text-transform:uppercase;
	font-weight:bold;
	color:#fff;
	width:100%;
}
.card__info{
	display:none;
	margin-top:20px;
	font-size:13px;
	color:#fff;
	font-family:$font-serif;
	line-height:1.5em;
	letter-spacing:.5px;

	@media (min-width:$screen-sm-min){
		display:block;
	}
}
a.card__btn{
	margin-top:15px;
	font-size:12px;
	color:#fff;
	background-color:#000;
	font-family:$font-sans-serif;
	display:inline-block;
	width:180px;
	height:45px;
	line-height:45px;
	text-transform: uppercase;
	padding-left:20px;
	position:relative;
	letter-spacing:1.5px;
	font-weight:600;
	&:hover{
		color:#fff;
	}
	@media (min-width:$screen-sm-min){
		margin-top:30px;
		border: 1px solid #fff;
		background-color:transparent;
		width:180px;
		height:45px;

		&:hover{
			color:#fff;
			border-color:#000;
			background:#000;
			transition: all .3s;
		}
	}
}
.card__content{
	position:absolute;
	bottom:0;
	left:0;
	color:#fff;
}
.card__content--blurb{
	font-size:25px;
	text-transform:uppercase;
	bottom:30px;
	left:30px;
	width:80%;
	line-height:1.5em;
	letter-spacing: 0.02em;
	font-weight:600;
}
.card__content--intro{
	font-size:16px;
	width:100%;
	height:100%;
	left:inherit;
	right:0;
	line-height:1.5em;
	padding:30px;
	background:rgba(34,34,34,.8);
	font-family:$font-sans-serif;

	@media (min-width:$screen-lg-min){
		padding:50px;
		width:50%;
		font-size:20px;
	}
}
