.site-navigation{
	display: block;
	font-family: $font-sans-serif;


	@media (min-width:$screen-md-min){
		float: right;
	}
}
.navigation__items{

	.navigation__link{
		display:none;
		opacity:0;

		@media (min-width:$screen-md-min){
			display:block;
			opacity:1;
		}
	}

	@media (min-width:$screen-md-min){
		display: table;
   	height: 80px;
		overflow:initial;
	}
}
.navigation__wrap{
	overflow:hidden;
	height:0;

	&.open{
		z-index:999;
		overflow:scroll;
		position:fixed;
		bottom:0;
		left:0;
		right:0;
		transition: all 0.3s ease-in;
		background:#fff;
		height:auto;

		.navigation__link{
			display:block;
			opacity:1;
			transition: all 0.3s ease-in;
		}
	}
	@media (min-width:$screen-md-min){
		height:inherit;
		overflow:inherit;
		.navigation__item{
			height:inherit;
		}
	}
}
.navigation__item{
	display:block;
	padding-left: 30px;
	position:relative;

	@media (min-width:$screen-md-min){
		display: table-cell;
		vertical-align: middle;
		text-align:center;
		padding-left:0;
	}
}
.navigation__link{
	display:block;
	width:100%;
	text-transform:uppercase;
	letter-spacing: 1px;
	padding: 20px 0;
	font-size:14px;
	color: #222;

	@media (min-width:$screen-md-min){
		position: relative;
		display: block;
		padding: 0 15px;
		height: 100%;
		font-size: 10px;
		line-height: 80px;
		@include transition(.3s);
	}

	@media (min-width:$screen-lg-min){
		font-size:12px;
		padding: 0 25px;
	}
}
.navigation__link--login{
	color:#222;
	background-color:#fff;
	@media (min-width:$screen-md-min){
		color:#fff;
		background-color:#222;

		&:focus, &:active{
			color:#fff;
		}
	}
}
.navigation__item--login{
	&:hover{
		.navigation__link--login{
			color:#949494!important;
		}
	}
}
.navigation__dropdown{
	list-style: none;

	@media (min-width:$screen-md-min){
		visibility: hidden;
		position: absolute;
		width: 250px;
		padding: 0 30px 0 0;
		background-color: #222;
		border-bottom: 3px solid rgba(255,255,255,.3);
	}
}
.navigation__item{
	&:hover{
		.navigation__link{
			color:#222;
		}
	}
	@media (min-width:$screen-md-min){
		&:hover, &:focus, &:active{
			.navigation__link{
				background-color: #222;
				color:#fff;
			}
			.navigation__dropdown{
				visibility:visible;
			}
		}
	}
}
.navigation__subitem{
	float: none;
   position: relative;
	text-align:left;

	a.navigation__sub-link{
		padding: 15px 25px 15px;
		display: block;
		text-transform:uppercase;
		letter-spacing:1px;
		line-height:1.8em;
		font-size: 10px;
		&:hover{
			color:#222;
		}

		@media (min-width:$screen-md-min){
			width: 250px;
			border-bottom: 1px solid rgba(0,0,0,.1);
			color:#fff;
			text-align:left;

			&:hover{
				background-color:lighten(#222, 5%);
				color:#fff;

				.navigation__item{
					background-color:#222;
				}
			}
		}

		@media (min-width:$screen-lg-min){
			font-size:12px;
		}
	}
}
//////////////////////////
/// Mobile Navigation
//////////////////////////
.navigation__mobile{
	@media (min-width:$screen-md-min){
		display:none;
	}
}
.navigation__mobile-button{
	border:none;
	outline:none;
	float:right;
	background-color:#fff;
	padding: 32px 20px;
}
.navigation__hamburger{
	width: 25px;
	height: 3px;
	background: #222;
	border-radius: 0;
	transition: .3s;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	transition: all 0ms 300ms;

	&:before, &:after{
		content:'';
		width: 25px;
		height: 3px;
		background: #222;
		border-radius: 0;
		display: block;
		position: absolute;
		transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	&:before{
		bottom:-7px;
	}
	&:after{
		bottom:7px;
	}
	&.animate{
		background: rgba(255, 255, 255, 0);
	}
	&.animate:before{
		bottom: 0;
		transform: rotate(45deg);
		transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	&.animate:after{
		bottom: 0;
		transform: rotate(-45deg);
		transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
}
.navigation__button-text{
	display:inline-block;
	text-transform:uppercase;
	vertical-align: middle;
	font-size: 16px;
   padding-right: 4px;
}
//////////////////////////
/// Nav active item
//////////////////////////
.is-top{
	.nav-top{
		font-weight:700;
	}
}
.is-team{
	.nav-team{
		font-weight:700;
	}
}
.is-clients{
	.nav-clients{
		font-weight:700;
	}
}
.is-why-us{
	.nav-why-us{
		font-weight:700;
	}
}
.is-resources{
	.nav-resources{
		font-weight:700;
	}
}
.is-contact{
	.nav-contact{
		font-weight:700;
	}
}
