---
fileName: "why-us"
title: "Why Wealth Management | Wealth Management Advisor"
keywords: "wealth management advisor, signature wealth management group, wealth management, financial advisors"
description: "Signature Wealth Management Group offers personal Commitment To Your Financial Future with expert wealth management advice, retirement plans, equity fund and mutual funds."
---
<main>

  <!--KEY VISUAL-->
  <section class="l-ingenius-kv">
    {{> hero-detail detail-page="INGENIUS"}}
  </section>
  <!--END KEY VISUAL-->

  <div class="wrap-content">
    <section class="l-why-intro">
      <div class="col-md-4">
        {{> heading heading="What is INGENIUS?"}}
      </div>
      <p class="intro__text">A platform, run by advisors, to invest your money in a portfolio tailored specifically to your needs.</p>
    </section>

    <section class="l-what">
    </section>

    <section class="l-how">
      <div class="col-md-4">
        <h3 class="heading">Financial Planning</h3>
        <p>Guiding your goals.</p>
      </div>
      <div class="col-md-4">
        <h3 class="heading">Intelligent Wealth Management</h3>
        <p>Crafting a portfolio to match your needs.</p>
      </div>
      <div class="col-md-4">
        <h3 class="heading">Financial Planning</h3>
        <p>Guiding your goals.</p>
      </div>
    </section>

    <section class="l-faq">
      <div class="col-md-6">
        <h4>Where will my account be housed?</h4>
        <p>Your account will be held with Charles Schwab and Co.  That will also be where you can log in to see your account.</p>
      </div>
      <div class="col-md-6">
        <h4>Can I see a demo?</h4>
        <p>YES!  Follow <a href="#">this link</a> to see a walkthrough of setting up your account.</p>
      </div>
      <div class="col-md-6">
        <h4>How are the fees deducted?</h4>
        <p>Fees are deducted on a monthly basis from the cash in your account.  Think of 1% being divided by 12 months and that is how you will see them.</p>
      </div>
      <div class="col-md-6">
        <h4>Can I talk to an Advisor?</h4>
        <p>Yes!  Please use the scheduling page below to set up a phone conversation with one of our advisors.</p>
      </div>
    </section>
  </div>
</main>
