---
fileName: "top"
title: "Top"
keywords: "page keywords"
description: "page description"
---
<main class="is-top">

  <!--KEY VISUAL-->
  <section class="l-top-kv">

  </section>
  <!--END KEY VISUAL-->

  <!--BACKGROUND-->
  <div class="bg-layyer"></div>
  <div class="bg-layyer"></div>
  <!--END BACKGROUND-->

  <!--NEWS-->
  <section class="l-top-news">

  </section>
  <!--END NEWS-->

  <!--SERVICE-->
  <section class="l-top-service">

  </section>
  <!--END SERVICE-->

  <!--COMPANY-->
  <section class="l-top-company">

  </section>
  <!--END COMPANY-->

  <!--RECRUIT-->
  <section class="l-top-recruit">

  </section>
  <!--END RECRUIT-->
</main>

{{>button}}

<link rel="stylesheet" href="/common/css/common.css">
