---
fileName: "team"
hasGlobalNav: "yes"
title: "Signature Wealth Management Group | Scott Bishop, James Sims"
keywords: "scott bishop, james sims, scott bishop signature wealth management group, james sims signature wealth management group"
description: "Scott Bishop, James Sims are Managing Partners with Signature Wealth Management Group, Atlanta. Read Work history, Bio of Scott Bishop, James Sims and other associates."
---
<main>

  <!--KEY VISUAL-->
  <section class="l-team-kv">
    {{> hero-detail detail-page="Team"}}
  </section>
  <!--END KEY VISUAL-->
  <div class="wrap-content">
    <section class="l-team-intro">
      <div class="col-md-4">
        {{> heading heading="Our Signature WMG Team"}}
      </div>
      <p class="intro__text">The Signature Wealth Management Group was formed in 2008 following several years of combined experience at one of the nation’s largest investment companies. The goal of the team’s members is to provide independent and objective advice to their clients in partnership with a firm that brings a conservative and client-centered approach to investing.</p>
    </section>

    <section class="l-members">
      {{> team-members team-members-data}}
    </section>
  </div>
</main>
