---
fileName: "why-us"
hasGlobalNav: "yes"
title: "Equity Income Mutual Fund | Mutual Fund Series"
keywords: "equity income mutual fund, mutual fund series, signature wealth management group"
description: "The Signature Mutual Fund Strategies were created to provide a potential for wealth-building that can be critical to reaching long-term financial goals."
---
<main>

  <!--KEY VISUAL-->
  <section class="l-why-us-kv">
    {{> hero-detail detail-page="Why Us"}}
  </section>
  <!--END KEY VISUAL-->

  <div class="wrap-content">
    <section class="l-why-intro">
      <div class="col-md-4">
        {{> heading heading="The Signature Mutual Fund Series"}}
      </div>
      <p class="intro__text col-md-8">The Signature Mutual Fund Strategies were created to provide a potential for wealth-building that can be critical to reaching long-term financial goals.</p>
    </section>

    <section class="l-why-details">
      <p class="details-text">We utilize mutual funds in these strategies for greater diversification available through funds or also to access investment themes, processes or strategies that are not available through the Equity Income Series.</p>
      <p class="details-text">These different strategies are typically built around a select menu of core funds which are evaluated based on short and long term performance, manager tenure, third party research evaluations, corporate investment culture, and positioning to meet a particular investment need.  For each portfolio, we will attempt to balance such factors as investment size (large, medium, small cap stocks), style (value vs. growth), and domicile (U.S. vs International) within the overarching framework of asset allocation (stocks vs. bonds vs. cash).</p>
      <p class="details-text">The Signature Mutual Fund Series lineup includes:</p>
    </section>

    <section class="l-accordion">
      {{>accordion mutual-fund-data}}
    </section>
  </div>
</main>
