---
fileName: "client-login"
title: "Wealth Management Group | Investment Management"
keywords: "wealth management group, investment manager, signature wealth management group"
description: "Signature WMG allows you to easily view consolidated and in-depth information of all the investment accounts on which we report, regardless of where they are held."
---
<main>

  <!--KEY VISUAL-->
  <section class="l-login-kv">
    {{> hero-detail detail-page="Login"}}
  </section>
  <!--END KEY VISUAL-->
  <div class="wrap-content">
    <section class="l-login-overview">
      <div class="col-md-4">
        {{> heading heading="Client Access Information"}}
      </div>
      <p class="login__text col-md-8">Our Client Portal allows you to i) easily view consolidated and in-depth information of all the investment accounts on which we report, regardless of where they are held, and ii) share documents together with our team. It is designed to increase productivity, enhance the financial planning process and can be accessed from anywhere in the world through a secure website.</p>
    </section>

    <section class="l-login-links">
      <p class="login__text">Please click one of the following links to access your account. You will be directed to an external page at either Raymond James or Schwab Alliance.</p>
      <a class="login__link" href="https://investoraccess.rjf.com/" target="_blank">Raymond James Investor Access</a>
      <a class="login__link" href="/client-login/schwab/" target="_blank">Schwab Alliance Login</a>
    </section>
  </div>
</main>
