---
fileName: "why-us"
title: "Best Equity Income Series | Equity Income Fund"
keywords: "equity income series, mutual funds, equity income fund, signature wealth management group, mutual funds, retirement plans, 401k"
description: "Signature Wealth Management Group creates a stable and growing income stream primarily from the dividends of common stocks with expert advice."
---
<main>

  <!--KEY VISUAL-->
  <section class="l-why-us-kv">
    {{> hero-detail detail-page="Why Us"}}
  </section>
  <!--END KEY VISUAL-->

  <div class="wrap-content">
    <section class="l-why-intro">
      <div class="col-md-4">
        {{> heading heading="The Signature Equity Income Series"}}
      </div>
      <p class="intro__text">The Signature Equity Income Series is a group of portfolios whose unifying theme and overarching goal is to create a stable and growing income stream primarily from the dividends of common stocks.</p>
    </section>

    <section class="l-why-details">
      <p class="details-text">The current lineup includes:</p>
    </section>

    <section class="l-accordion">
      {{>accordion equity-income-data}}
    </section>
  </div>
</main>
