---
fileName: "clients"
title: "Whom We Serve | Signature Wealth Management Group"
keywords: "Signature Wealth Management Group, Financial Advisors, Financial Planning, Mutual Funds, Retirement Plans, 401k, Affluent Families, Corporate Executives, Business Professionals, Southern Company Employees, Physicans, Medical Professionals"
description: "Signature Wealth Management Group - A Personal Commitment To Your Financial Future"
---
<main>

  <!--KEY VISUAL-->
  <section class="l-clients-kv">
    {{> hero-detail detail-page="Our Clients"}}
  </section>
  <!--END KEY VISUAL-->

  <div class="wrap-content">
    <section class="l-clients-intro">
      <div class="col-md-4">
        {{> heading heading="Wealth Management Personalized to You"}}
      </div>
      <p class="intro__text col-md-8">You’ll always find the members of Signature Wealth Management Group to be friendly, approachable and easy to work with. Our structure combines the responsiveness of a smaller investment and advisory firm with the leadership and resources of a financial services industry leader – truly the best of both worlds.</p>
    </section>

    <section class="l-clients-groups">
      {{>clients clients-data}}
    </section>
</div>

  </div>

</main>
