@charset "utf-8";

//
// ... style
//
// class name：.xyz-xxx

// --------------------------------------------------
// block comment
// --------------------------------------------------

// single comment
.l-login-kv{
	.hero-detail__title{
		color:#222;
	}
}
.l-login-overview{
	margin-top:70px;
	@include clearfix;
}
.login__text{
	line-height: 1.5em;

	&:nth-of-type(2){
		margin-top:5px;
	}
}
.login__link{
	display:table;
	margin-top:20px;
	font-weight:bold;
	@include transition(.3s);

	@media (min-width:$screen-md-min){
		&:hover{
			color:lighten(#222, 20%)!important;
			text-decoration:underline;
		}
	}
}
.l-login-links{
	margin-top:20px;
	@include clearfix;
}
//SCHWAB LOGIN

.is-schwab{
	background:#fff;

	.login__text{
		clear:both;
	}
}
.login__back, .login__schwab{
	font-size: 11px;
	font-weight: 700;
	line-height: 1.4em;
	text-align: center;
	letter-spacing: .22em;
	text-transform: uppercase;
	float: none;
	border-radius: 0;
	outline: none;
	display: block;
	margin-top: 40px;
	margin-left:auto;
	margin-right:auto;
	@include transition(.3s);

	@media (min-width:$screen-md-min){
		display:inline-block;
	}
}
.login__back{
	color:#222;
	border: 2px solid #222;
	padding: 15px 40px;

	@media (min-width:$screen-md-min){
		&:hover, &:focus{
			color:#949494;
		}
	}
}
.login__schwab{
	color: #fff;
	background-color: #222;
	border: 0;
	padding: 17px 40px;

	&:hover, &:focus{
		color:#fff;
	}

	@media (min-width:$screen-md-min){
		margin-left:20px;

		&:hover, &:focus{
			color:#949494;
		}
	}
}
